.orContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 0.5rem 0;
    .left {
      height: 2px;
      width: 30%;
      background-color: #e0e0e0;
    }
    p {
      padding: 0 30px;
    }
    .right {
      height: 2px;
      width: 30%;
      background-color: #e0e0e0;
    }
  }