@import "../../global.scss";
.signUpPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: $mainThemeColor;
  font-family: $fontFamily;

  .containerWrapper {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 9px -3px rgba(55, 98, 255, 0.75);
    -webkit-box-shadow: 0px 0px 9px -3px rgba(55, 98, 255, 0.75);
    -moz-box-shadow: 0px 0px 9px -3px rgba(55, 98, 255, 0.75);
    background-color: $whiteColor;
    display: flex;

    .left {
      flex: 0.5;
      display: flex;
      flex-direction: column;
      .top {
        flex: 0.2;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
        h1 {
          color: #3f3d56;
        }
        p {
          margin: 0.5rem 0;
        }
      }
      .bottom {
        flex: 0.8;
        img {
          width: 100%;
          height: 80%;
        }
        .signRe {
          padding: 0 3rem;
          h6 {
            font-size: 16px;
            color: $mainThemeColor;
            cursor: pointer;
            .link
            {
              text-decoration: none;
              color: inherit;
            }
          }
          p {
            margin: 0.2rem 0;
          }
        }
      }
    }
    .right {
      flex: 0.5;
      .formContainer {
        padding: 2rem 5rem;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 26px;
          margin-bottom: 1rem;
          color: #3f3d56;
        }
        form {
          display: flex;
          flex-direction: column;

          label {
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 0.5rem;
            color: #3f3d56;
          }
          .userInput {
            height: 45px;
            border-radius: 3px;
            border: 1px solid #e0e0e0;
            padding-left: 10px;
            border-radius: 7px;
            margin-bottom: 1rem;
          }
          .checkBox {
            margin: 0.5rem 0;
            height: 15px;
            display: flex;
            align-items: center;
            label {
              font-weight: normal;
            }

            input {
              margin-right: 7px;
              border: 1px solid #e0e0e0;
            }
          }
          .signUpButton {
            height: 45px;
            background-color: $mainThemeColor;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 7px;
            border: none;
            .arrowRight {
              margin-left: 0.2rem;
              font-weight: bold;
              font-size: 15px;
            }
            cursor: pointer;
            &:active {
              outline: none;
            }
          }
        }
      }
    }
  }
}
