@import '../../global.scss';
.googleContainer {
    button {
      width: 100%;
      height: 45px;
      border: 1px solid $mainThemeColor;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      background-color: transparent;
      cursor: pointer;
      box-shadow: 0px 0px 1px 0px rgba(63, 61, 86, 0.75);
      -webkit-box-shadow: 0px 0px 1px 0px rgba(63, 61, 86, 0.75);
      -moz-box-shadow: 0px 0px 1px 0px rgba(63, 61, 86, 0.75);
      img {
        width: 20px;
        height: 20px;
        margin-right: 1rem;
      }
    }
  }